package ${package.Service};

import ${superServiceImplClassPackage};
import lombok.AllArgsConstructor;
import ${package.Entity}.${entity};
import ${package.Mapper}.${table.mapperName};
import org.springframework.stereotype.Service;

/**
#if(${table.comment})
 * $!{table.comment} Service
 *
#end
 * @author ${author}
 * @since ${date}
 */
@AllArgsConstructor
@Service
public class ${table.serviceName} extends ${superServiceImplClass}<${table.mapperName}, ${entity}> {

}
